<nav>
  <div class="navbar container">
    <h1><a href="/">BIMBO'S</a></h1>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/create">CreateList</a></li>
    </ul>
  </div>
</nav>
