<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <h1 class="about-heading">Welcome to my EJS About Page</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis dolor
        eius sint recusandae harum, veritatis accusantium error. Temporibus
        quasi consectetur culpa eius reprehenderit sed optio numquam nulla
        commodi, explicabo officia. Porro suscipit repudiandae libero
        reprehenderit at, veniam perspiciatis alias culpa facere doloribus id
        quisquam vitae quae, nulla natus iusto sint dolorum aliquam sunt ex
        eveniet. Enim, ex quam aperiam alias sed quo voluptate ea qui inventore
        doloremque doloribus labore repudiandae atque nam et impedit. Nesciunt
        expedita aperiam hic harum, tenetur minima fuga facilis saepe
        aspernatur, debitis impedit suscipit praesentium quasi eaque ullam aut
        delectus voluptatibus inventore dolorem vero alias sit! Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Voluptates, nulla
        consectetur natus nemo porro iusto quis, nihil unde, asperiores
        distinctio aperiam architecto. Autem optio, perspiciatis distinctio nemo
        tempora omnis porro quidem cumque dignissimos dolorum asperiores!
        Ratione nostrum obcaecati odio asperiores veniam vero deleniti dolor
        assumenda exercitationem, quisquam nihil vitae eligendi ab quas porro
        pariatur! Distinctio temporibus dolor consequatur alias atque earum
        omnis nulla, culpa, odit beatae debitis sed placeat aliquid quidem
        praesentium vero voluptates porro quas, quaerat eius adipisci ea quae
        laborum inventore! Sapiente molestiae eius architecto vero consequatur
        et consectetur facere cupiditate nobis, nulla error iste aliquid
        veritatis neque debitis praesentium amet enim non illo atque
        repudiandae! Repellendus labore nihil culpa eaque totam, maiores eum ab
        laborum porro sapiente doloremque, explicabo enim neque ipsum architecto
        dolor repellat sequi adipisci, sed blanditiis dignissimos. Corporis
        velit nulla, ab dolore sit reiciendis quas quaerat recusandae voluptates
        quo aut et repellendus quidem doloribus! Quos praesentium voluptatibus
        eius nesciunt modi illo exercitationem. Similique aperiam velit minima
        voluptate quia. Reprehenderit architecto voluptatem commodi quis harum
        distinctio dolorum quos explicabo, velit consequatur molestias
        reiciendis sapiente placeat illo consectetur maxime vitae, error totam.
        Consequatur explicabo minus nobis distinctio, ea, magni eius vero totam,
        facere voluptatum porro deserunt!
      </p>
    </main>
  </body>
</html>
